export COCKPIT_USER_NAME=root
export COCKPIT_USER_PASSWORD=CHANGME
export COCKPIT_URL=https://jstavel-rhel7-server.usersys.redhat.com:9090
export COCKPIT_SUBSCRIPTION_USER_NAME=CHANGME
export COCKPIT_SUBSCRIPTION_PASSWORD=CHANGME
